.edit-icon{
    background-color: rgb(127, 178, 255)!important;
    color: white;
    padding: 3px;
    border-radius: 3px;
}
.delete-icon{
      background-color: rgb(250, 64, 64)!important;
    color: white;
    padding: 3px;
    border-radius: 3px;
}