.box-content {
  background-color: rgb(255, 255, 255)!important;
  border-radius: 10px;
 
  width: 100%;

  padding: 20px;
  .address-box{
    padding: 20px;
  }
  .text-content {
    font-size: 25px;
  }
}