.add-icon{
    background-color: rgb(127, 178, 255)!important;
    color: white;
    padding: 3px;
    border-radius: 3px;
}
.sub-icon{
      background-color: rgb(250, 64, 64)!important;
    color: white;
    padding: 3px;
    border-radius: 3px;
}
.setting-icon{
    background-color: #FFB93B!important;
    color: white;
    padding: 3px;
    border-radius: 3px;
}